root {
  --primary-color: #002638;
  --secondary-color: #002638;
  --accent-color: rgba(75, 67, 138, 0.4);
  --text-color: #d3e1e8;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  color: var(--text-color);
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  background-color: var(--primary-color);
}

header {
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap-reverse;
}

header h1 {
  margin-top: 20 px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #6ca3d9;
  text-align: center;
}

header .Blast-Off {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #6ca3d9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-align: center;
}

header .Restart {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #6ca3d9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-align: center;
}

header .Cautious {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #6ca3d9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-align: center;
}

header .Gunn-it {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #6ca3d9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-align: center;
}

header .Step-in {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #6ca3d9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-align: center;
}

header .Not-my-problem {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #6ca3d9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-align: center;
}

header .Go-back-Port {
  display: inline-block;
  background-color: var(--secondary-color);
  color: #6ca3d9;
  font-size: 1.25rem;
  font-weight: 500;
  border-radius: 1000px;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-align: center;
}

header h2 {
  margin-top: 20 px;
  margin-bottom: 20px;
  font-weight: 800;
  color: #6ca3d9;
  text-align: center;
}
